* {
    box-sizing: border-box;
  }

.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'header header'
    'msgList msgBody' 
    

}

.headerBar{
    grid-area: header;


}
.msgList{
    grid-area: msgList;
}
.msgBody{
    grid-area: msgBody;
}
.bodyHeaderBar{
    border-color: black;
}

.card-active{
    background-color: antiquewhite;
}