* {
    box-sizing: border-box;
  }

.wrapper{
    /* visibility: hidden; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'header header'
    'msgList msgBody' 
    

}

#headerBar{
    visibility: visible;
    display: none;
}

#emailData{
    visibility: visible;
    display: none;
}
#baseBody{
    visibility: visible;
    display: none;
}

.headerBar{
    grid-area: header;

    text-align:center;



}
.msgList{
    grid-area: msgList;
}
.msgBody{
    grid-area: msgBody;
}
.bodyHeaderBar{
    border-color: black;
}

.navBar{
    float: left;
    text-align:center;
}

.moreOptionBtn{
    float: right;
}

.navBar1{
    float: right;
    text-align:center;
}

/* add button in the header bar */
/* Bootstrap css */
/* @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"; */

/* Propeller button */
/* @import "http://propeller.in/components/button/css/button.css"; */


.card-active{
    background-color: antiquewhite;
}

.card-accepted{
    background-color: green;

}
.card-rejected{
    background-color: red;
}

.card-new{
    background-color: blue;

}
