* {
    box-sizing: border-box;
  }

.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'header header'
    'msgList msgBody' 
    

}

.headerBar{
    grid-area: header;
    display:inline-block;


}
.msgList{
    grid-area: msgList;
}
.msgBody{
    grid-area: msgBody;
}